@media screen and (min-width: 640px) {
  .logo {
    width: 683px; 
    height: 200px;
  }
  
  nav {
    list-style-type: none;
    display: flex;
  }
  nav a {
    flex: 1 1 100%;
    border: none;
  }
  
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th, .colors td{
    width: 25%;
  }
  .colors td {
    height: 3em;
  }
  .colors tr {
    width: 100%;
    display: flex;
    float: none;
  }
  
}